<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">TIENDA</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/activar']" routerLinkActive="router-link-active">Activar Servicio</a></li>
                        <li><a href="index2.html">Proceso 2</a></li>
                        <li><a href="index3.html">Proceso 3</a></li>
                        <li><a href="index4.html">Proceso 4</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-fingerprint"></i><span class="hide-menu">WILSON</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Proceso 1</a></li>
                        <li><a href="index2.html">Proceso 2</a></li>
                        <li><a href="index3.html">Proceso 3</a></li>
                        <li><a href="index4.html">Proceso 4</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-folder-plus"></i><span class="hide-menu">SANTIAGO</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="index.html">Proceso 1</a></li>
                        <li><a href="index2.html">Proceso 2</a></li>
                        <li><a href="index3.html">Proceso 3</a></li>
                        <li><a href="index4.html">Proceso 4</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>