<div>
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>LOGYCA - Soluciona</mat-card-title>
        </mat-card-header>
        <img src="assets/img/portadapost.jpg" alt="homepage" class="dark-logo" width="80%" />
        <mat-card-content>
            <p>
                Este es un portal diseñado y creado para la ejecución de procesos internos de la compañía, agilizando y facilitando una rápida gestión a través de una aplicación Web.
            </p>
        </mat-card-content>
    </mat-card>
</div>